/* Deze Css code toegovogd door ibrahim sadour op 22-09-2020
deze voor de table van de User / ervaring / opleiding / hoppys / wat id doe / all event  */


.alert{
  margin-bottom: 0rem;
}
.alert-success{
  color: black!important;

}
.alert-danger{
  color: black!important;

}

.alert {
padding: 0rem 1rem!important;
}

.red_more{

  width: 100px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.aanapssen{
  text-align: center;
  font-weight: 700;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0.25em 0.5em 0.25em 0.5em!important    ;
}
.dataTables_wrapper{
  margin-top: 1%;
  margin-bottom: 1%;
  }
.dataTables_wrapper .dataTables_info{
  font-weight: 600 !important;
}
label{
  font-weight: 600 !important;
  color: #4a5073;
}
.dataTables_wrapper .dataTables_filter input{
  border-radius: 0.5rem!important;
}
.sorting{
  font-weight: 900 !important;
  color: #4a5073!important;
  font-size: 15px!important;
}
.sorting_asc{
  font-weight: 900 !important;
  color: #4a5073!important;
  font-size: 15px!important;
}
.odd .sorting_1{
  background-color: #f1f1f1!important;
}
.dataTables_info{
  float: right!important;
}
.dataTables_paginate{
  float:left!important;
}
.fa-home{
  margin-top: 5px!important;
}
.odd{
  background-color: rgb(249, 249, 249)!important;
}
.even{
  background-color: rgb(249, 249, 249)!important;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
  background-color: #f1f1f1!important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #28a745;
}

input:focus + .slider {
  box-shadow: 0 0 1px #28a745;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  /* End code Of ibrahim sadour */